<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Games</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="assets/css/app.css">
    <link rel="stylesheet" href="node_modules/rateyo/src/jquery.rateyo.css">
</head>

<body>
    <!-- start-header-->
    <header>
        <!-- start-top-nav-->
        <div class="top-nav">
            <!-- Toggle-btn-for-sidebar -->
            <a class="toggle-btn">
                <span></span>
                <span></span>
                <span></span>
            </a>
            <!-- Logo -->
            <a href="index.html" class="logo"><img src="images/logo2.png" class="animated rotateIn" /> Games</a>
        </div>
        <!-- start-bottom-nav-->
        <div class="bottom-nav">
            <ul>
                <li><a href="#">Categories</a></li>
                <li class="active"><a href="#">Highlights</a></li>
                <li><a href="#">Top</a></li>
                <li><a href="#">New</a></li>
                <li><a href="#">Recommended</a></li>
            </ul>
        </div>
        <!-- start-side-nav-->
        <div class="side-nav">
            <a href="#" class="m-title">login</a>
            <ul>
                <li><a href="#">Categories</a></li>
                <li><a href="#">Highlights</a></li>
                <li><a href="#">Top</a></li>
                <li><a href="#">New</a></li>
                <li><a href="#">Recommended</a></li>
            </ul>
            <a href="#" class="m-title">help</a>
        </div>
    </header>
    <!-- end-header-->

    <!-- dark-overlay-->
    <div class="overlay"></div>

    <!-- start-slider-->
    <section class="slider">
    <div class="img-container">
        <img src="images/slide-1.png" class="img-responsive" />
    </div>
    <div class="m-pagination">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
    </section>
    <!-- end-slider-->
    <!-- start-categories-->
    <section class="categories" ng-app="myApp" ng-controller="myCtrl">
        <!-- start-category-->
        <div class="wrapper">
            <h2>Action and Adventure</h2>
            <div class="inner-wrapper">
                <div class="category">
                    <div class="game" ng-repeat="category in categories | limitTo:quantity">
                        <img src={{category.imageURL}} class="img-responsive">
                        <h3>{{category.name | limitTo: 16}}</h3>
                        <p class="publisher">{{category.publisher}}</p>
                        <rate-yo rating="category.rating" class="mc-doc-rating"></rate-yo>
                    </div>
                </div>
            </div>
        </div>
        <!-- end-category-->
        <div class="clearfix"></div>
        <!-- start-category-->
        <div class="wrapper">
            <h2>Casual Games</h2>
            <div class="inner-wrapper">
                <div class="category">
                    <div class="game" ng-repeat="category in categories | limitTo : quantity ">
                        <img src={{category.imageURL}} class="img-responsive">
                        <h3>{{category.name | limitTo: 16}}</h3>
                        <p class="publisher">{{category.publisher}}</p>
                        <rate-yo rating="category.rating" class="mc-doc-rating"></rate-yo>
                    </div>
                </div>
            </div>
        </div>
        <!-- end-category-->
        <div class="clearfix"></div>
        <!-- start-category-->
        <div class="wrapper">
            <h2>Puzzles</h2>
            <div class="inner-wrapper">
                <div class="category">
                    <div class="game" ng-repeat="category in categories | limitTo : quantity ">
                        <img src={{category.imageURL}} class="img-responsive">
                        <h3>{{category.name | limitTo: 16}}</h3>
                        <p class="publisher">{{category.publisher}}</p>
                        <rate-yo rating="category.rating" class="mc-doc-rating"></rate-yo>
                    </div>
                </div>
            </div>
        </div>
        <!-- start-category-->
    </section>

    <!-- Initialize JS-->
   <script src="node_modules/jquery/dist/jquery.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js"></script>    
    <script src="//code.jquery.com/ui/1.11.3/jquery-ui.js"></script>
    <script src="node_modules/angular/angular.js"></script>
    <script src="node_modules/rateyo/src/jquery.rateyo.js"></script>
    <script src="assets/script.js"></script>
    <script src="assets/angular.js"></script>
    <script>
       
    </script>
</body>

</html>