
// reset
*{
    margin:0;
    padding: 0;
    outline: none;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

.clearfix{
    clear: both;
    overflow: hidden;
    content: "";
}

.img-responsive{
    width: 100%;
    max-width: 100%;
    display: block;
}

body{
   font-family:$font;  
    background-color: #f2f2f2;
    
}  

